@font-face {
  font-family: Yaldevi;
  font-weight: 400;
  font-style: normal;
  src: url("yaldevicolombo-regular.woff") format("woff"),
    url("yaldevicolombo-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Yaldevi;
  font-weight: 600;
  font-style: normal;
  src: url("yaldevicolombo-semibold.woff") format("woff"),
    url("yaldevicolombo-semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Yaldevi;
  font-weight: 800;
  font-style: normal;
  src: url("yaldevicolombo-bold.woff") format("woff"),
    url("yaldevicolombo-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Yaldevi;
  font-weight: 300;
  font-style: normal;
  src: url("yaldevicolombo-medium.woff") format("woff"),
    url("yaldevicolombo-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Yaldevi;
  font-weight: 200;
  font-style: normal;
  src: url("yaldevicolombo-light.woff") format("woff"),
    url("yaldevicolombo-light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Yaldevi;
  font-weight: 100;
  font-style: normal;
  src: url("yaldevicolombo-extralight.woff") format("woff"),
    url("yaldevicolombo-extralight.woff2") format("woff2");
  font-display: swap;
}
